.Fq-Navbar
{
  width: 95%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translate(-50%);
  background-color: #fff;
  padding: 0px 30px;
  border-radius: 13px;
  box-shadow: 0 15px 5px 0 rgba(0, 0, 0, .25);
  z-index: 9999;
}

.Fq-Navbar h1
{
  font-size: 32px;
  color: #222;
  cursor: pointer;

}
.Fq-Navbar .section-2
{
  display: flex;
}
.Fq-Navbar .section-3
{
  display: none;
}
.Fq-Navbar .section-4
{
  display: flex;
  flex-direction: row;
}
.ClosenBTN
{
  display: none;
}
.Fq-Navbar button
{
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  padding: 8px 16px;
  transition: all .2s ease-in-out;
}
.Fq-Navbar .section-2 button:hover
{
  background-color: #222;
  color: #fff;
}

.Menu
{
  list-style: none;
  display: flex;
  align-items: center;
}

.Menu li a
{
  font-size: 19.2px;
  margin: 0 10px;
  padding: 3px 10px;
  font-weight: 600;
  display: flex;
  align-items: center;
  color: #222;
  text-decoration: none;
}
.Menu li 
{
  font-size: 19.2px;
  color: #222;
  margin: 0 10px;
  padding: 3px 10px;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.Menu li svg
{
  margin-right: 10px;
}
@media(max-width: 1030px)
{
  .Fq-Navbar .section-3
  {
    display: block;
  }
  .Fq-Navbar .section-2
  {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 250px;
    height: 400px;
    background-color: #ffffffcc;
    top: 0px;
    right: 0px;
    transition: .6s;
  }
  .Fq-Navbar .section-4
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 250px;
    height: 400px;
    background-color: #ffffffcc;
    top: 0px;
    right: -300px;
    transition: .6s;
  }
  .Menu
  {
    flex-direction: column;
  }
  .Menu li a
  {
    margin: 10px 0;
  }
  .ClosenBTN
  {
    display: block;
    margin-top: 10px;
  }
}